@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Bourton Line';
    src: url('../fonts/Bourton/BourtonLine.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: #FFF;
    height: 70;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px 15px 21px;
    font-family: 'Roboto Bold';
    font-size: 15px;
}

.logo {
    width: 129px;
    height: 37px;
}

.nav-box {
    width: 511.78px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.nav-box nav a {
    color: #005368;
    font-size: 15px;
    padding: 9px 14px 10px;
    margin: 0px 2.5px;
    border-radius: 10px;
}

.nav-box nav a:hover {
    background-color: rgb(244,246,250);
    cursor: pointer;
    transition-delay: 65ms;
}

.nav-box nav a:last-child, .button {
    font-family: 'Roboto Bold', sans-serif;
    color: white;
    background-color: #175C62;
    padding: 10px 20px 9px;
    margin: 0px 2.5px 0px 13.5px;
    border-radius: 10px;
    transition: .2s;
}

.nav-box nav a:last-child:hover {
    background-color: rgb(25,62,66);
}

.section-1 {
    position: relative;
    background-color: #000;
    height: 600px;
    background-image: url('../img/main-background.jpg');
    background-size: cover;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin: 0px 0px 25px;
}

.section-1__content-box {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px auto;
    width: 980px;
    height: 600px;
}

.section-1__content {
    width: 570px;
    height: 316px;
    text-align: left;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}

li {
    width: 100%;
}

.green-tick-icon {
    margin: 0px 12px 0px 0px;
    width: 23px;
    height: 22px;
}

.align-center {
    display: flex;
    align-items: center;
}

.section-1__content ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFF;
    margin-bottom: 12px;
}

.button-ready, .button-chat {
    margin: 0px 14px 0px 0px;
    width: 250px;
    height: 49px;
    padding: 0px 13px;
    font-size: 17px;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(25,62,66);
}

.box-therapist-info {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Roboto Bold', sans-serif;
    color: white;
    font-size: 17px;
    margin: 0px 40px 30px 0px;
}

h4 {
    font-family: 'Roboto Bold', sans-serif;
    margin: 10px 0px;
}

.therapist-license {
    font-size: 13px;
    margin: -8px 0px 8px;
}

.section-2__content {
    position: relative;
    height: 148px;
    background-color: #F4F6Fa;
    padding: 29px 50.75px;
    text-align: center;
}

.section-1__h2, .section-2__h2 {
    font-size: 22px;
    font-weight: bold;
    color: #005368;
    margin-bottom: 27px;
    font-family: 'Bourton Line', sans-serif;
    letter-spacing: -1.12px;
}

.box-companies {
    position: relative;
    margin: 0px auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
}

.section-3 {
    position: relative;
    display: flex;
    align-items: center;
    height: 590px;
    padding: 117px 50.75px 100px;
}

.section-3__blob-img {
    position: absolute;
    left: -50px;
    
    width: 40vw;
}

.white-circle {
    position: absolute;
    background-color: #FFF;
    border-radius: 100%;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-white-circle {
    width: 403px;
    height: 403px;
    box-shadow: 2px 10px 55px rgba(39,50,90,0.2);
}

.medium-white-circle {
    position: relative;
    margin: 0px auto;
    left: 0;
    width: 335px;
    height: 335px;
    box-shadow: 0px 0px 20px rgba(39,50,90,0.2);
}

.small-white-circle {
    position: relative;
    margin: 0px auto;
    left: 0;
    width: 227px;
    height: 227px;
    box-shadow: 0px 0px 20px rgba(39,50,90,0.2);
}

.smaller-white-circle {
    position: relative;
    margin: 0px auto;
    left: 0;
    width: 100px;
    height: 100px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    background-image: url('../img/icons/person.jpg');
    background-size: 100%;
}

.section-3__content {
    position: relative;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    width: 960px;
    height: 373px;
}

.section-3__content__circles {
    position: relative;
    top: -33px;
    width: 50%;
}

.section-3__h2 {
    color: #27325A;
    margin: 0px 0px 20px;
    position: relative;
    font-size: 36px;
}

.section-3__content__text {
    width: 50%;
}

.section-3__description {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #314D5C;
}

.section-3__ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 20px;
    margin: 20px 0px 40px;
    list-style-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611abb9c32fdaa6a55267689_checkmark.svg');
    padding-left: 18px;
}

.section-3__ul li {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #12787B;
    line-height: 29px;
    letter-spacing: .1px;
}

.section-3__ul li div {
    margin-right: 15px;
    width: 149.85px;
}

.section-3__ul li:last-child {
    list-style-image: none;
}

.button-start {
    margin: 0px 14px 0px 0px;
    width: 220px;
    height: 49px;
    margin: 0px 130px;
    padding: 13px 42.5px;
    font-size: 17px;
    margin-top: 60px;
}

.section-3__icons {
    position: absolute;
    z-index: 10;
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.div-icon-preventative-care {
    width: 63px;
    height: 63px;
    top: 30px;
    left: 20px;
    background-color: #DAEEEE;
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611abb9c32fdaa17b4267687_preventive-care.svg');
}

.div-icon-mindfulness-exercises {
    width: 72px;
    height: 72px;
    bottom: 0px;
    right: 58px;
    background-color: #33CFCA;
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611abb9c32fdaaf8ff26768b_mindfulness-excercises.svg');
}

.div-icon-evaluation {
    width: 57.6px;
    height: 57.6px;
    bottom: 40px;
    left: 9px;
    background-color: #FFF;
    box-shadow: 0px 5px 8px rgba(39,50,90,0.2);
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611abb9c32fdaa4979267688_evaluation.svg');
}

.div-icon-coaching-therapy {
    width: 62.08px;
    height: 62.08px;
    top: -9px;
    right: 62px;
    background-position: 50% 55%;
    box-shadow: 0 0 0 6px #FFF;
    background-color: #5C84FB;
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611abb9c32fdaa112926768c_coaching-and-therapy.svg');
}

.div-icon-goal-setting {
    width: 40px;
    height: 40px;
    top: 46px;
    left: -4px;
    box-shadow: 0 0 0 6px #FFF;
    background-color: #6F63DC;
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611abb9c32fdaa596a267686_goal-setting.svg');
}

.div-icon-medication-managment {
    width: 58px;
    height: 58px;
    right: -27px;
    box-shadow: 0 0 0 6px #FFF;
    background-color: #F1D2D2;
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611abb9c32fdaa6ee926768f_medication-management.svg');
}

.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 646px;
    text-align: center;
    padding: 70px 4%;
}

.section-4__h2, .section-7__h2 {
    font-size: 29px;
    font-weight: 800;
    line-height: 29px;
    color: #005368;
    margin-bottom: 27px;
    font-family: 'Bourton Line', sans-serif;
    letter-spacing: -1px;
}

.section-4__p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #314D5C;
    line-height: 28px;
    margin-bottom: 37px;
}

.section-4__container-steps {
    display: flex;
    align-self:center;
    flex-direction: row;
    justify-content: space-around;
    width: 65vw;
    height: 266px;
}

.box-step {
    width: 270px;
}

.box-step div:first-child{
    display: flex;
    justify-content: center;
    height: 140px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
}

.step-image {
    width: 121px;
    height: 120px;
}

.box-step__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4__h3 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 22px;
    color: #005368;
    margin-bottom: 15px;
    line-height: 26px;
    letter-spacing: -.14px;
}

.section-4__text {
    font-family: 'Roboto', sans-serif;
    color: #314D5C;
    position: relative;
    width: 100%;
    max-width: 210px;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    margin: none;
}

.margin-top-50 {
    margin: 0px;
    margin-top: 70px;
}

.section-4__box-arrow {
    position: relative;
    top: 59px;
}

.section-5 {
    display: flex;
    justify-content: center;
    height: 513px;
    padding-top: 40px;
    padding-right: 0;
    padding-left: 0;
    font-family: 'Roboto' ,sans-serif;
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611c42ba107271ec6bc9ce3e_benefits.svg');
    background-size: cover;
}

.section-5__content {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    min-width: 980px;
    max-width: 980px;
    height: 513px;
    padding-bottom: 110.81px;
    line-height: 28px;
}

.section-5__content img {
    position: relative;
    top: -60px;
    left: -210px;
    width: 648px;
    height: 935px;
}

.section-5__text {
    position: relative;
    width: 420px;
}

.section-5__h2 {
    font-family: 'Times New Roman';
    color: #27325A;
    margin: 80px 0px 21px;
    position: relative;
    font-size: 44px;
}

.section-5__content div:last-child {
    width: 100%;
    max-width: 420px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.benefits__li {
    font-family: 'Roboto', sans-serif;
    color: #314D5C;
    margin-bottom: 12px;
    background-size: 23px;
    background-position: 0 5px;
    background-repeat: no-repeat;
}

.benefits__li div {
    margin-left: 40px;
}

.benefits-checkmark {
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611c45b234be5a8eddca08d6_checkmark.png');
}

.benefits-people {
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611c42ba10727182abc9ce3d_group.svg');
    background-size: 30px;
}

.benefits-heart {
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611c42ba107271a204c9ce3a_heart.svg');
}

.benefits-padlock {
    background-image: url('https://assets.website-files.com/5f0c9acf46a6f5084535ed71/611c45ced8fd8564b5aa0a27_lock.png');
    background-size: 19px;
}

.box-app-of-day {
    position: absolute;
    left: 540px;
    bottom: 44.81px;
}

.box-app-of-day img {
    width: 112px;
    height: 60px;
}

.section-5__imgs {
    width: 55%;
}

.section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 618px;
    padding-top: 80px;
    background-color: #FFF;
    z-index: 3;
}

.section-6__h2, .section-7__h3, .section-8__h2 {
    font-size: 44px;
    font-weight: 700;
    color: #27325a;
    line-height: 61px;
    letter-spacing: 0;
}

.section-8__h2 {
    font-size: 40px;
}

.box-5-stars {
    display: block;
    width: 151px;
    height: 22px;
    margin-bottom: 42px;
}

.box-review {
    width: 100%;
    max-width: 320px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 25px 24px 32px;
    border-radius: 6px;
    background-color: #F4F6FA;
    line-height: 28px;
}

.box-review__avatar img {
    width: 72px;
    height: 72px;
    margin-right: 12px;
    border-radius: 50%;            
    background-size: cover;
    background-repeat: no-repeat;
}

.box-avatar {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.avatar-name {
    font-family: 'Roboto Bold', sans-serif;
    color: #27325A;
}

.twitter-user {
    font-family: 'Roboto', sans-serif;
    color: #657891;
}

.box-review__text {
    font-family: 'Roboto';
    color: #314D5C;
    font-size: 17px;
}

.box-review__text a, .section-7__sources a {
    transition: color .2s;
    color: #08b198;
    font-weight: 700;
    text-decoration: none;  
}

.section-6__reviews {
    display: flex;
    flex-direction: row;
}

.section-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 4% 20px;
    height: 704px;
}

.section-7__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 980px;
}

.section-7__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 507px;
    width: 49.5%;
    max-width: 980px;
    border-radius: 10px;
    padding: 0px 62px 0px 55px;
    border: 1px solid #E4E5F0;
}

.section-7__h3 {
    margin-bottom: 46px;
    font-size: 40px;
    letter-spacing: -.83px;
    line-height: 50px;
}

.section-7__percentage {
    font-family: 'Roboto Bold', sans-serif;
    color: #76B2B8;
    font-size: 48px;
    font-weight: 900;
    margin-right: 30px;
    line-height: 48px;
    letter-spacing: .88px;
}

.section-7__box-text {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 20px;
}

.section-7__text {
    width: 100%;
    max-width: 240px;
    font-family: 'Roboto' ,sans-serif;
    color: #314D5C;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
}

.section__7-right-box-text {
    font-size: 16px;
    position: relative;
    margin: 0px auto;
    max-width: 300px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 20px;
}

.box-slide-button {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #EFF2F6;
    height: 56px;
    width: 220px;
    border-radius: 50px;
}

.slide-button-months {
    font-family: 'Roboto';
    color: #314D5C;
    position: absolute;
    margin: auto 30px;
    right: 0;
}

.slide-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    color: #314D5C;
    margin: 0px 4px;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    box-shadow: -1px 10px 30px rgba(0,0,0,0.1);
    cursor: pointer;
}

.section-7__sources {
    font-family: 'Roboto', sans-serif;
    margin-top: 32px;
    color: #7D8993;
}

.container-graphs {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
    height: 200px;
    text-align: center;
}

.graph {
    position: relative;
    margin: 0px auto;
    font-family: 'Roboto Bold', sans-serif;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    text-align: right;
    width: 98px;
    margin: 0px;
}

.graph-1 {
    position: relative;
    margin: 0px auto;
    background-color:#B3C1D5;
    height: 80px;
    color: #FFF;
}

.graph-2 {
    position: relative;
    margin: 0px auto;   
    background-color:#009C8D;
    height: 150px;
    color: #FFF;
}

.container-graphs p {
    font-family: 'Bourton Line', sans-serif;
    letter-spacing: -1.3px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    width: 120px;
}

.section-8 {
    display: flex;
    flex-direction: column;
    height: 352px;
    align-items: center;
    padding: 70px 4% 20px;
}

.section-8__h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    max-width: 750px;
    color: #314d5c;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.button-chat {
    margin-top: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 302px;
    background-color: #27325A;
}

footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 20px;
    color: white;
}

footer img {
    width: 50px;
    height: 50px;
}